
.box{
  position: relative;

  width: 100px;
  height: 100px;
  border: 5px solid #484c7f;
  border-radius: 50%;
  margin: auto;

}

.fan {
  position: absolute;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

.inner {
  width: 50%;
  height: 100%;
  
  transform-origin: right center;
  transform: rotate(60deg);
}

.fan:nth-child(even) .inner{
  background: #ac8daf;
}

.fan:nth-child(odd) .inner{
  background: #ddb6c6;
}

.inner-text{
  display: inline-block;
  
  margin-left: 27px;
  margin-top: 8px;
  color: #fff;

  transform: rotate(-30deg);
}


.pointer{
  position: absolute;
  left: 50%;
  top: 25%;

  width: 5px;
  height: 25%;
  background-color: #faf6bd;
  border-radius: 50%;

  transform-origin: bottom;
  transform: translateX(-50%) ;

}

.btn{
  position: absolute;
  left: 50%;
  top: 50%;

  width: 20%;
  height: 20%;
  border-radius: 50%;

  transform: translate(-50%,-50%);
}
